<div class="center">
    <h1>Main Page</h1>
    <p>Find me in app/views/main/index.html.erb</p>
</div>

<style>
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
</style>